
@font-face {
  font-family: EksellDisplay;
  src: url("EksellDisplay-Large.otf") format("opentype");
}

@font-face {
  font-family: EksellDisplay;
  font-weight: bold;
  src: url("EksellDisplay-Large.otf");
}

::selection {
  background: #8C9EFF; /* WebKit/Blink Browsers */
}

h1 {
  font-family: EksellDisplay;
}

.title {
  font-family: EksellDisplay;
  font-size: 100pt;
  background: linear-gradient(to right, #000000 0%, #616161 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1.intro {
  font-family: EksellDisplay;
  color: red;
  text-align: center;
}

div.poster_text {
  font-family: EksellDisplay;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 100px;
  background-color: none;

  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  z-index: 2;
}

img {
  /*  To contain the image to the confines of the div  */
  max-width: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.poster
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 300px;
  background-color: #ccc;
  border-radius: 0px;
  overflow: hidden;

  z-index: 1;
}

.poster:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, transparent 0%, white 100%);
  opacity: 0.6;
}

html {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: #70bg32;
    background-repeat:no-repeat;
    background: linear-gradient(to right, #FAFAFA 0%, #F5F5F5 100%);
}
