
@font-face {
  font-family: EksellDisplay;
  src: url('EksellDisplay-Large.otf');
}

@font-face {
  font-family: EksellDisplay;
  font-weight: bold;
  src: url('EksellDisplay-Large.otf');
}

h1 {
   font-family: EksellDisplay
}

h1.intro {
    font-family: EksellDisplay
    color: red;
    align-items: center;
}
