:root {

  --border-1: none;
  --border-2: none;
  --border-3: none;

  /* --border-1: solid;
  --border-2: dashed;
  --border-3: dotted; */
}

html {
  color: #212121;
  font-family: Canela;
  line-height: 1.5;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

html {
  background-color: #FFF7F2;
  /* background-image: linear-gradient(to right, #FAFAFA, #F5F5F5);
  -webkit-tap-highlight-color: #8C9EFF; */
}

body {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

div {
  background: none !important;
}

a {
  transition: color .3s cubic-bezier(.215,.61,.355,1);
  color: #212121
}

@media (min-width: 1200px) {
  a:focus,a:hover {
    color: orange;
  }
}

/* ::-moz-selection {
  background-color: transparent;
  color: #DF8159 !important;
  text-shadow: none
}

::selection {
  background-color: transparent;
  color: #DF8159;
  text-shadow: none
} */

@font-face {
  font-family: UntitledSans;
  src: url('Fonts/Untitled Sans/UntitledSans-Regular.otf');
}

@font-face {
  font-family: UntitledSerif;
  src: url('Fonts/Untitled Serif/UntitledSerif-Regular.otf');
}

@font-face {
  font-family: Canela;
  src: url('Fonts/Canela/Canela-Regular.otf');
}

@font-face {
  font-family: Canela;
  font-weight: bold;
  src: url('Fonts/Canela/Canela-Medium.otf');
}

@font-face {
  font-family: NeueHaas;
  font-weight: 300;
  src: url('Fonts/NeueHaas/HaasGrotDisp-45Light.otf');
}

@font-face {
  font-family: NeueHaas;
  font-weight: 400;
  src: url('Fonts/NeueHaas/HaasGrotDisp-55Roman.otf');
}

@font-face {
  font-family: NeueHaas;
  font-weight: 500;
  src: url('Fonts/NeueHaas/HaasGrotDisp-65Medium.otf');
}

/* @font-face {
  font-family: MaisonNeue;
  src: url('Fonts/MaisonNeue/Maison\ Neue\ Book.otf');
}

@font-face {
  font-family: MaisonNeue;
  font-style: italic;
  src: url('Fonts/MaisonNeue/Maison\ Neue\ Book\ Italic.otf');
}

@font-face {
  font-family: MaisonNeue;
  font-weight: 600;
  src: url('Fonts/MaisonNeue/Maison\ Neue\ Demi.otf');
}

@font-face {
  font-family: MaisonNeue;
  font-style: italic;
  font-weight: 600;
  src: url('Fonts/MaisonNeue/Maison\ Neue\ Demi\ Italic.otf');
} */

/* @font-face {
  font-family: MaisonNeue;
  src: url('Fonts/JJannon/JJannon-Book.woff2');
}

@font-face {
  font-family: MaisonNeue;
  font-style: italic;
  src: url('Fonts/JJannon/JJannon-Book-Italic.woff2');
}

@font-face {
  font-family: MaisonNeue;
  font-weight: 600;
  src: url('Fonts/JJannon/JJannon-Bold.woff2');
}

@font-face {
  font-family: MaisonNeue;
  font-style: italic;
  font-weight: 600;
  src: url('Fonts/JJannon/JJannon-Bold-Italic.woff2');
} */

@font-face {
  font-family: MaisonNeue;
  src: url('Fonts/Cambon/Cambon-Regular.otf');
}

@font-face {
  font-family: MaisonNeue;
  font-style: italic;
  src: url('Fonts/Cambon/Cambon-Italic.otf');
}

@font-face {
  font-family: MaisonNeue;
  font-weight: 600;
  src: url('Fonts/Cambon/Cambon-Bold.otf');
}

@font-face {
  font-family: MaisonNeue;
  font-style: italic;
  font-weight: 600;
  src: url('Fonts/Cambon/Cambon-BoldItalic.otf');
}

@font-face {
  font-family: Inter;
  src: url('Fonts/Inter/Inter-Regular.woff2');
}

@font-face {
  font-family: Playfair;
  src: url('Fonts/Playfair/PlayfairDisplay-Medium.ttf');
}

.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: center;
  height: 100%;
}

.o-container {
  height: 100%;
  width: 100%;
  max-height: 100vh;
  max-width: 100vw;
  border: var(--border-1);
  transition: 0.5s;
}

.c-header {
  position: relative;
  height: 80%;
  width: 80%;
  top: 10%;
  left: 10%;
  border: var(--border-2);
}

.c-header_title {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  perspective: 600px;
  -webkit-perspective: 600px;
  /* text-align: left; */
  border: var(--border-3);
}

.c-header_title.left {
  width: 15%;
  right: 65%;
  text-align: right;
}

.c-header_title.right {
  width: 40%;
  left: 40%;
  text-align: left;
}

.c-direction-block {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
  border: var(--border-2);
}

.c-direction-block_item {
  position: relative;
  height: 100px;
  font-size: 10vw;
  white-space: nowrap;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
}

.o-h1 {
  font-family: MaisonNeue;
  line-height: 1.1;
  text-transform: none;
  font-size: 50pt;

}

.o-h2 {
  font-family: MaisonNeue;
  font-weight: 300;
  line-height: 1.25;
  text-transform: none;
  font-size: 50pt;
  overflow-wrap: normal;
}

.o-h3 {
  font-family: MaisonNeue;
  font-weight: 300;
  line-height: 1;
  text-transform: none;
  font-size: 300pt;
  white-space: nowrap;
}

.o-h4 {
  text-align: left;
  font-family: MaisonNeue;
  font-weight: 400;
  line-height: 1.8;
  text-transform: none;
  font-size: 13pt;
  letter-spacing: 1pt;
}

.o-h5 {
  text-align: right;
  font-family: MaisonNeue;
  font-weight: 600;
  line-height: 1.8;
  text-transform: none;
  font-size: 11pt;
  letter-spacing: 1pt;
}

.text {
  width: 100%;
  text-align: left;
}

.name, .description {
  width: 100%;
  text-transform: uppercase;
  text-align: right;
}

.description .date {
  font-weight: 400;
}

.o-container .left .description { display: none; }
.o-container .left:hover .name { display: none; }
.o-container .left:hover .description { display: inline; }

.item-image-container {
  position: absolute;
  right: 0%;
  width: 75%;
  object-fit: contain;
  bottom: 0%;
  z-index: -1;
}

.item-image-image {

}

.welcome-image-container {
  position: absolute;
  right: 0%;
  width: 100%;
  object-fit: cover;
  bottom: 0%;
  z-index: -1;
}

.welcome-image-image {
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  transition: 1s ease-in-out;
}

.welcome-image-image:hover {
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
}

.image-background {
  position: absolute;
  bottom: 0%;
  width: 100%;
  left: 0%;
  right: auto;
  height: 80%;
  /* border-radius: 50pt; */
  background: none;
  background-image:
  linear-gradient(to bottom, rgba(255, 247, 242, 1.00), rgba(255, 247, 242, 0.00)),
  url(./Images/Desert.jpg);
  background-position: bottom right;
  background-size: cover;
  z-index: -1;
  color: #212121;
  font-size: 15pt;
  justify-content: center;
  align-items: center;
  border: var(--border-2);
}

.image-background2 {
  position: absolute;
  bottom: 0%;
  width: 100%;
  left: 0%;
  right: auto;
  height: 100%;
  /* border-radius: 50pt; */
  background: none;
  background-image:
  /* linear-gradient(to bottom, rgba(255, 247, 242, 1.00), rgba(255, 247, 242, 0.00)), */
  url(./Images/abbey.png);
  background-position: bottom right;
  background-size: cover;
  z-index: -1;
  color: #212121;
  font-size: 15pt;
  justify-content: center;
  align-items: center;
  border: var(--border-2);
}

/* .rounded-box {
  width: 100%;
  height: 100%;
  border-radius: 50pt;
  background-color: #fcf4ef;
} */

.logo_container {
  position: fixed;
  height: 40px;
  width: 40px;
  top: 75px;
  left: 75px;
  border: var(--border-2);
  z-index: 1;
}

.logo {
  position: relative;
  height: 100%;
  width: auto;
  opacity: 1.0;
  transition: 0.5s;
}

.logo:hover {
  opacity: 0.5;
}

.item-image-label {
  text-align: right;
  border: solid;
  position: absolute;
  right: 105%;
  bottom: 0%;
  z-index: 0;
  width: 100px;
}

.rounded-box {
  width: 100%;
  height: 100%;
  border-radius: 50pt;
  background-color: #fcf4ef;
}

.rounded-box2 {
  width: 50%;
  height: 50%;
  border: solid;
  /* color: black; */
}

.align-left {
  margin-right: auto;
}

.circle {
  pointer-events: none;
	position: fixed;
  /* border: solid 1px #ccc; */
  z-index: 100;
	width: 25px;
	height: 25px;
  border-radius: 50%;
  background-color: none;
  -webkit-animation: glowing 2s ease-in-out infinite alternate;
  -moz-animation: glowing 2s ease-in-out infinite alternate;
  animation: glowing 2s ease-in-out infinite alternate;
}

.background-circle {
	position: absolute;
  /* border: solid 1px #ccc; */
	width: 200px;
	height: 200px;
  border-radius: 50%;
  -webkit-animation: glowing 5s ease-in-out infinite alternate;
  -moz-animation: glowing 5s ease-in-out infinite alternate;
  animation: glowing 5s ease-in-out infinite alternate;
}

/* .circle {
  width: 100px;
  height: 100px;
  border-radius:50%;
  background-color: #fff;
  -webkit-animation: glowing 1s ease-in-out infinite alternate;
  -moz-animation: glowing 1s ease-in-out infinite alternate;
  animation: glowing 1s ease-in-out infinite alternate;
} */

/* @-webkit-keyframes glowing {
  from {
    box-shadow: 0 0 20px pink, 0 0 40px black, 0 0 60px #f0f, 0 0 80px #0ff, 0 0 100px #e60073, 0 0 120px #e60073, 0 0 140px #e60073;
  }
  to {
    box-shadow: 0 0 20px white, 0 0 40px #ff4da6, 0 0 60px #ff4da6, 0 0 80px #ff4da6, 0 0 120px #ff4da6, 0 0 140px #ff4da6, 0 0 160px #ff4da6;
  }
} */

@-webkit-keyframes glowing {
  from {
    box-shadow: 0 0 25px 10px pink;
  }
  to {
    box-shadow: 0 0 50px 50px pink;
  }
}

